<mat-card style="max-width: 800px;">
    <mat-card-title style="margin-bottom: 20px;">ADD TRANSACTION</mat-card-title>
    <mat-card-content [formGroup]="transactionForm">
        <div class="form-container">
            <div style="display: flex; flex-direction: row;">
                <mat-form-field style="width: 50px;">
                    <input matInput type="text" placeholder="#" [formControlName]="'account'"
                           [matAutocomplete]="accountAuto"
                           (keyup)="changeFocus($event, 'account', undefined, contraAccount)" [tabindex]="1"
                           #account
                           matNativeControl>
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #accountAuto="matAutocomplete"
                                  (optionSelected)="updateAccountName($event.option.value, 'accountName')">
                    <mat-option *ngFor="let account of filteredAccountOptions | async" [value]="account">
                        {{account}}
                    </mat-option>
                </mat-autocomplete>

                <mat-form-field style="width: 250px;">
                    <input matInput type="text" placeholder="Account" formControlName="accountName"
                           [matAutocomplete]="accountNameAuto" matNativeControl>
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #accountNameAuto="matAutocomplete"
                                  (optionSelected)="updateAccount($event.option.value, 'account')">
                    <mat-option *ngFor="let accountName of filteredAccountNameOptions | async"
                                [value]="accountName">
                        {{accountName}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div style="display: flex; margin: 0 10px;">
                <span style="align-self: center;">to</span>
            </div>
            <div style="display: flex; flex-direction: row;">
                <mat-form-field style="width: 50px;">
                    <input matInput type="text" placeholder="#" formControlName="contraAccount"
                           [matAutocomplete]="contraAccountAuto"
                           (keyup)="changeFocus($event, 'contraAccount', account, amount)" [tabindex]="2"
                           #contraAccount
                           matNativeControl>
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #contraAccountAuto="matAutocomplete"
                                  (optionSelected)="updateAccountName($event.option.value, 'contraAccountName')">
                    <mat-option *ngFor="let contraAccount of filteredContraAccountOptions | async"
                                [value]="contraAccount">
                        {{contraAccount}}
                    </mat-option>
                </mat-autocomplete>

                <mat-form-field style="width: 250px;">
                    <input matInput type="text" placeholder="Contra Account" formControlName="contraAccountName"
                           [matAutocomplete]="contraAccountNameAuto" matNativeControl>
                </mat-form-field>
                <mat-autocomplete autoActiveFirstOption #contraAccountNameAuto="matAutocomplete"
                                  (optionSelected)="updateAccount($event.option.value, 'contraAccount')">
                    <mat-option *ngFor="let contraAccountName of filteredContraAccountNameOptions | async"
                                [value]="contraAccountName">
                        {{contraAccountName}}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="form-container" style="justify-content: space-between;">
            <div style="display: flex; flex-direction: row;">
                <mat-form-field style="width: 100px;">
                    <input matInput type="number" placeholder="Amount" formControlName="amount"
                           (keyup)="changeFocus($event, 'amount', contraAccount, undefined)" #amount [tabindex]="3"
                           matNativeControl>
                </mat-form-field>
                <mat-form-field style="width: 50px;">
                    <mat-select formControlName="currency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                            {{currency.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field style="width: 150px;">
                <input matInput type="date" placeholder="Date" formControlName="createdOn"
                       matNativeControl>
            </mat-form-field>
            <mat-form-field style="width: 300px;">
                <input matInput type="text" placeholder="Note" formControlName="note" [tabindex]="4"
                       matNativeControl>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions style="display: flex;">
        <div class="fill-space"></div>
        <button color="secondary" mat-flat-button (click)="reset()" [tabindex]="6">Reset</button>
        <button color="primary" mat-flat-button (click)="submit()" [tabindex]="5">Submit</button>
    </mat-card-actions>
</mat-card>