.mat-form-field {
    margin: auto 5px;
}

.account-input-container {
    display: flex;
    flex-direction: row;
}

.form-container {
  justify-content: space-between;
}

.form-container::after {
  content: '';
  width: 100%;
  order: 1;
}

@media (max-width: 360px) {

    .account-input-container {
        width: 100%;
    }
}