<mat-card class="large-card">
    <mat-card-title style="margin-bottom: 20px;">LIST</mat-card-title>
    <mat-card-content>
        <div style="display: flex; align-items: center; margin-bottom: 16px;">
            <span style="margin-right: 10px;">Order</span>
            <mat-select [(value)]="order" (selectionChange)="changeOrder($event.value)">
                <mat-option *ngFor="let orderOption of orderOptions"
                            [value]="orderOption.value">{{orderOption.label}}
                </mat-option>
            </mat-select>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div>
            <mat-list *ngIf="entries.length > 0; else noEntries">
                <mat-list-item [disableRipple]="false"
                               *ngFor="let entry of entries">
                    <span style="width: 30px; text-align: right; margin-right: 15px;">{{entry.id}}</span>
                    <b>{{entry.name}}</b>
                    <button style="margin-left: auto;" color="primary" mat-flat-button>Eat</button>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-list-item>
            </mat-list>
            <ng-template #noEntries>
                <div style="text-align: center;">
                    <p>No entries found</p>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>