<mat-card class="medium-card">
    <mat-card-title style="margin-bottom: 20px;">ADD ENTRY</mat-card-title>
    <mat-card-content [formGroup]="entryForm">
        <div class="form-container" style="justify-content: space-between;">
            <mat-form-field style="width: 318px;">
                <input matInput type="text" placeholder="Name" [formControlName]="'name'">
            </mat-form-field>
            <button color="primary" mat-flat-button (click)="autoFill().then()" style="width: 300px; margin: 0px 16px 16px 16px;">Autofill
            </button>
            <mat-form-field style="width: 318px;">
                <mat-select [formControlName]="'target_id'" style="width: 318px;" placeholder="Target Entry">
                    <mat-option *ngFor="let targetEntry of targetEntries"
                                [value]="targetEntry.id">{{targetEntry.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="number" [formControlName]="'amount'" placeholder="Amount">
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="text" placeholder="Market" [formControlName]="'market'">
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="text" placeholder="Producer" [formControlName]="'producer'">
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="number" placeholder="Weight (g)" [formControlName]="'weight_in_g'">
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="number" placeholder="Kilocalories" [formControlName]="'kcal'">
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="date" placeholder="Date" formControlName="expiration_date"
                       [placeholder]="'Expiration Date'"
                       matNativeControl>
            </mat-form-field>
            <mat-form-field style="width: 318px;">
                <input matInput type="number" placeholder="Price" [formControlName]="'price'">
            </mat-form-field>
            <mat-form-field style="width: 708px;">
                <textarea matInput placeholder="Note" formControlName="note"></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions style="display: flex;">
        <div class="fill-space"></div>
        <button color="primary" mat-flat-button (click)="submit().then()"
                [disabled]="entryForm.untouched || entryForm.invalid">Submit
        </button>
    </mat-card-actions>
</mat-card>