<div class="fin-figures-grid">
    <div class="fin-figures-grid-tile">
        <div class="figure">
            <h1 [ngClass]="{ negative: expenses < 0, positive: expenses > 0, neutral: expenses === 0}">{{expenses | currency:'EUR'}}</h1>
            <mat-divider [inset]="true"></mat-divider>
            <p class="subtitle">Expenses</p>
        </div>
    </div>
    <div class="fin-figures-grid-tile">
        <div class="figure">
            <h1 [ngClass]="{ negative: revenue < 0, positive: revenue > 0, neutral: revenue === 0}">{{revenue | currency:'EUR'}}</h1>
            <mat-divider [inset]="true"></mat-divider>
            <p class="subtitle">Revenue</p>
        </div>
    </div>
    <div class="fin-figures-grid-tile">
        <div class="figure">
            <h1 [ngClass]="{ negative: profit < 0, positive: profit > 0, neutral: profit === 0}">{{profit | currency:'EUR'}}</h1>
            <mat-divider [inset]="true"></mat-divider>
            <p class="subtitle">Profit</p>
        </div>
    </div>
    <div class="fin-figures-grid-tile">
        <div class="figure">
            <h1>{{totalTransactionAmount | currency:'EUR'}}</h1>
            <mat-divider [inset]="true"></mat-divider>
            <p class="subtitle">Total Transactions</p>
        </div>
    </div>
</div>