<mat-card-title style="text-align: center; margin-bottom: 20px;">Login</mat-card-title>
<mat-card-content [formGroup]="loginForm" class="form-container">
    <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" matNativeControl>
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" matNativeControl>
    </mat-form-field>
</mat-card-content>
<mat-card-actions style="display: flex;">
    <button mat-flat-button color="secondary" (click)="cancel()">Cancel</button>
    <div class="fill-space"></div>
    <button mat-flat-button color="primary" (click)="submit()">Login</button>
</mat-card-actions>
<p-messages [(value)]="messages" [closable]="false"></p-messages>
