<p-menubar [model]="menuBarItems">
    <input type="text" pInputText placeholder="Search">
    <button icon="fa fa-home fa-2x" pButton class="menubar-button" [routerLink]="['home']"></button>
</p-menubar>
<p-sidebar [(visible)]="menuOpen" [baseZIndex]="10000">
    <div>
        <button icon="fa fa-user fa-2x" pButton *ngIf="isVerified" class="menubar-button"
                [routerLink]="['user', 'detail']" (click)="menuOpen = false"></button>
        <button *ngIf="isVerified" (click)="logOut()" pButton label="Logout"
                icon="pi pi-sign-out" class="menubar-button"></button>
    </div>
    <button *ngIf="!isVerified || isVerified === null" [routerLink]="['auth', 'login']" pButton label="Login"
            (click)="menuOpen = false" icon="pi pi-sign-in" class="menubar-button"></button>
    <h2 style="font-weight:normal">{{menuTitle}}</h2>
    <p-menu [model]="menuItems" (click)="menuOpen = false"></p-menu>
</p-sidebar>
