<div class="grid-container">
    <h1 class="dashboard-title">Life Suite</h1>
    <mat-grid-list [cols]="cols | async" rowHeight="1:1" gutterSize="8px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="tile.rowspan">
            <mat-card class="dashboard-tile">
                <mat-card-header>
                    <mat-card-title class="dashboard-tile-title">
                        {{tile.title}}
                        <button mat-icon-button class="more-button" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-tile-content">
                    <tile-container [tile]="tile.component"></tile-container>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-tile">
                <mat-card-header>
                    <mat-card-title>
                        Test
                        <button mat-icon-button class="more-button" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-tile-content">
                    Test
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

