.fin-account-search-container {
  max-width: 800px;
  min-width: 800px;
}

.mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

@media (max-width: 360px) {
  .fin-account-search-container {
    max-width: 360px;
    min-width: 360px;
  }
}