<mat-card class="fin-account-search-container">
    <mat-card-title style="margin-bottom: 20px;">SEARCH ACCOUNT</mat-card-title>
    <mat-card-content>
        <div style="display: flex; align-items: center;">
            <mat-icon style="margin-right: 10px;">search</mat-icon>
            <mat-form-field>
                <input matInput placeholder="Search" [(ngModel)]="searchTerm" (keyup)="onSearch()">
            </mat-form-field>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div style="display: flex;">
            <h3>{{(displayRecentlyUsed) ? 'Recently Used' : 'Search Results (' + this.searchResults.length + ')'}}</h3>
            <span class="fill-space"></span>
        </div>
        <div>
            <mat-list *ngIf="(displayRecentlyUsed ? recentlyUsedAccounts : searchResults).length > 0; else noAccounts">
                <mat-list-item [disableRipple]="false"
                               *ngFor="let account of (displayRecentlyUsed ? recentlyUsedAccounts : searchResults)"
                               (click)="router.navigate(['/fin', 'account', account.id])">
                    <span style="width: 50px; text-align: right; margin-right: 15px;">{{account.id}}</span>
                    <b>{{account.name}}</b>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-list-item>
            </mat-list>
            <ng-template #noAccounts>
                <div style="text-align: center;">
                    <p>No accounts found</p>
                </div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>