<app-yearly-closes-banner></app-yearly-closes-banner>
<div style="margin-bottom: 20px;" class="template-carousel-container">
    <h1 class="dashboard-title" style="margin-bottom: 8px;">Templates</h1>
    <app-template-carousel></app-template-carousel>
</div>
<div>
    <h1 class="dashboard-title" style="margin-bottom: 8px;">Statistics</h1>
    <div class="dashboard-statistics-container">
        <app-category-doughnut [categoryId]="3" [title]="'expenses'"></app-category-doughnut>
        <app-category-doughnut [categoryId]="6" [title]="'income'"></app-category-doughnut>
    </div>
</div>