<mat-card class="container">
    <mat-card-title>RECENT TRANSACTIONS</mat-card-title>
    <mat-card-content>
        <div class="list-container">
            <ng-container *ngFor="let transaction of recentTransactions">
                <mat-card class="account-card transaction-list-child">
                    {{transaction.account}}<span class="optional"> / {{transaction.accountName}}</span>
                </mat-card>
                <mat-icon class="transaction-list-child">arrow_forward</mat-icon>
                <mat-card class="account-card transaction-list-child">
                    {{transaction.contra_account}}<span class="optional"> / {{transaction.contraAccountName}}</span>
                </mat-card>
                <div class="transaction-list-child">
                    {{transaction.amount | currency:'EUR'}}
                </div>
                <div class="transaction-list-child optional">
                    {{transaction.created_on | date:'yyyy-MM-dd'}}
                </div>
                <div class="transaction-list-child">
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                            aria-label="Toggle menu" style="margin-left: 20px;">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="deleteTransaction(transaction.id).then()">
                            <mat-icon>remove</mat-icon>
                            Remove
                        </button>
                        <button mat-menu-item (click)="openTransaction(transaction.id).then()">
                            <mat-icon>edit</mat-icon>
                            Open
                        </button>
                    </mat-menu>
                </div>
            </ng-container>
        </div>
    </mat-card-content>
</mat-card>
