<mat-card>
    <mat-card-title class="timeframe-select-title">
        <span>{{title | uppercase}}</span>
        <app-time-frame-select class="timeframe-select" (onSelection)="amountsTimeframe.next($event)" [defaultValue]="'currentMonth'"></app-time-frame-select>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="loading" class="tile-loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <p-chart [ngStyle]="{ 'visibility': loading ? 'hidden' : 'initial'}" type="doughnut" [width]="doughnutWidth" [height]="500" [data]="amountsData"
                 [options]="options"></p-chart>
        <p style="text-align: center; margin: 8px 0;" [ngStyle]="{ 'visibility': loading ? 'hidden' : 'initial'}">
            <span style="font-style: italic; font-size: 130%;">Total:</span>
            <span style="font-size: 150%; margin-left: 16px; font-weight: bolder;">{{amountsTotal | currency:'EUR'}}</span>
        </p>
    </mat-card-content>
</mat-card>