.fin-account-detail-container {
    max-width: 800px;
    min-width: 800px;
}

.fin-account-detail {
    padding-left: 15px;
    padding-right: 15px;
}

.transaction-list-container {
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.transaction-list-divider {
    grid-row: 1/999;
    grid-column: 2;
    margin-right: calc(50% - 0.5px);
}

.transaction {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 4px 4px 4px;
}

.editable-transaction:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.faded-text {
    color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 360px) {
    .fin-account-detail-container {
        max-width: 360px;
        min-width: 360px;
    }

    .fin-account-detail {
        padding-left: 5px;
        padding-right: 5px;
    }
}