<mat-card class="fin-account-detail-container">
    <mat-card-content>
        <div *ngIf="account" class="fin-account-detail">
            <div style="display: flex; align-items: flex-end;">
                <h3 style="margin-bottom: 5px;">Debit</h3>
                <h2 class="fill-space" style="text-align: center;">{{account.id}} / {{account.name}}</h2>
                <h3 style="margin-bottom: 5px;">Credit</h3>
            </div>
            <mat-divider [inset]="true" style="border-top-color: rgba(0, 0, 0, 0.5)"></mat-divider>
            <div *ngIf="accountTransactions" class="transaction-list-container">
                <!-- Initial Balance Transaction -->
                <div [ngStyle]="{'grid-column': initialBalance >= 0 ? 1 : 3}"
                     [ngClass]="{'debit-transaction': initialBalance >= 0, 'credit-transaction': initialBalance < 0}"
                     class="faded-text transaction" style="grid-row: 1;">
                    <span *ngIf="initialBalance < 0" style="margin-right: auto;">
                        <b>{{initialBalance | currency:'EUR'}}</b></span>
                    <span>
                        <span *ngIf="initialBalance >= 0"
                              style="width: 35px; text-align: right; margin-right: 10px;">0000</span>
                        <b style="text-align: right;">Initial</b>
                        <span *ngIf="initialBalance < 0"
                              style="width: 35px; text-align: left; margin-left: 10px;">0000</span></span>
                    <span *ngIf="initialBalance >= 0" style="margin-left: auto;">
                        <b>{{initialBalance | currency:'EUR'}}</b></span>
                </div>
                <!-- Horizontal Dividers -->
                <div *ngFor="let transaction of accountTransactions; let i = index" style="grid-column: 1/4"
                     [ngStyle]="{'grid-row': (i * 2) + 2}">
                    <mat-divider [inset]="true"></mat-divider>
                </div>
                <!-- Debit Transactions -->
                <ng-container *ngFor="let transaction of accountTransactions; let i = index">
                    <div *ngIf="transaction.debitTransaction" [ngStyle]="{'grid-row': (i * 2) + 2}"
                         class="editable-transaction transaction"
                         [ngClass]="{'faded-text': transaction.debitTransaction.childAccount}"
                         style="grid-column: 1;" (click)="openTransaction(transaction.debitTransaction.transaction)">
                        <span><span
                                style="width: 35px; text-align: right; margin-right: 10px;">{{transaction.debitTransaction.transaction.contra_account}}</span>
                        <b>{{accountsById.get(transaction.debitTransaction.transaction.contra_account).name}}</b></span>
                        <span style="margin-left: auto;"><b>{{transaction.debitTransaction.transaction.amount | currency:'EUR'}}</b>
                            / {{transaction.debitTransaction.transaction.created_on | date:'shortDate':'null':locale}}</span>
                    </div>
                </ng-container>
                <!-- Vertical Divider -->
                <mat-divider [vertical]="true" class="transaction-list-divider"
                             style="border-right-color: rgba(0, 0, 0, 0.5)"></mat-divider>
                <!-- Credit Transactions -->
                <ng-container *ngFor="let transaction of accountTransactions; let i = index">
                    <div *ngIf="transaction.creditTransaction" [ngStyle]="{'grid-row': (i * 2) + 2}"
                         class="editable-transaction transaction"
                         [ngClass]="{'faded-text': transaction.creditTransaction.childAccount}"
                         style="grid-column: 3;" (click)="openTransaction(transaction.creditTransaction.transaction)">
                        <span class="desktop">{{transaction.creditTransaction.transaction.created_on | date:'shortDate':'null':locale}}
                            / <b>{{transaction.creditTransaction.transaction.amount | currency:'EUR'}}</b></span>
                        <span style="margin-left: auto;"><b
                                style="text-align: right;">{{accountsById.get(transaction.creditTransaction.transaction.account).name}}</b>
                        <span style="width: 35px; text-align: left; margin-left: 10px;">{{transaction.creditTransaction.transaction.account}}</span></span>
                        <span class="mobile">{{transaction.creditTransaction.transaction.created_on | date:'shortDate':'null':locale}}
                            / <b>{{transaction.creditTransaction.transaction.amount | currency:'EUR'}}</b></span>
                    </div>
                </ng-container>
                <!-- Horizontal Divider -->
                <mat-divider [inset]="true" style="grid-column: 1/4; border-top-color: rgba(0, 0, 0, 0.5)"
                             [ngStyle]="{'grid-row': (accountTransactions.length * 2) + 4}"></mat-divider>
                <!-- Debit Sum -->
                <div [ngStyle]="{'grid-row': (accountTransactions.length * 2) + 5}" style="grid-column: 1"
                     class="transaction">
                    <b>Sum</b>
                    <b style="margin-left: auto;">{{debitSum | currency:'EUR'}}</b>
                </div>
                <!-- Credit Sum -->
                <div [ngStyle]="{'grid-row': (accountTransactions.length * 2) + 5}" style="grid-column: 3"
                     class="transaction">
                    <b style="margin-right: auto;">{{creditSum | currency:'EUR'}}</b>
                    <b>Sum</b>
                </div>
                <!-- Horizontal Divider -->
                <mat-divider [inset]="true" style="grid-column: 1/4; border-top-color: rgba(0, 0, 0, 0.5)"
                             [ngStyle]="{'grid-row': (accountTransactions.length * 2) + 6}"></mat-divider>
                <!-- Account Balance -->
                <div [ngStyle]="{'grid-column': accountBalance >= 0 ? 1 : 3, 'grid-row': (accountTransactions.length * 2) + 7}"
                     class="transaction">
                    <span *ngIf="accountBalance < 0" style="margin-right: auto;">
                        <b>{{accountBalance | currency:'EUR'}}</b></span>
                    <span>
                        <b style="text-align: right;">Balance</b>
                    </span>
                    <span *ngIf="accountBalance >= 0" style="margin-left: auto;">
                        <b>{{accountBalance | currency:'EUR'}}</b></span>
                </div>
            </div>
            <div *ngIf="!accountTransactions" style="display: flex; justify-content: center; margin: 20px;">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </mat-card-content>
</mat-card>