.fin-account-detail-container {
    max-width: 800px;
    min-width: 800px;
}

.fin-account-detail {
    margin-left: 15px;
    margin-right: 15px;
}

.transaction-list-container {
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.transaction-list-divider {
    grid-row: 1/999;
    grid-column: 2;
    margin-right: calc(50% - 0.5px);
}

.debit-transaction {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 4px 4px 0;
}

.credit-transaction {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 4px 4px 0;
}

.child-account-transaction {
    color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 360px) {
    .fin-account-detail-container {
        max-width: 360px;
        min-width: 360px;
    }

    .fin-account-detail {
        margin-left: 5px;
        margin-right: 5px;
    }
}