<mat-card class="wrapper">
    <div *ngIf="!verifying && !verified">
        <auth-login [intendedRoute]="intendedRoute"></auth-login>
    </div>
    <div>
        <mat-card-content  style="display: flex; justify-content: center;" *ngIf="verifying">
            <mat-spinner></mat-spinner>
        </mat-card-content>
    </div>
    <div *ngIf="!verifying && verified" style="display: grid; text-align: center;">
        <mat-card-title>
            You are already logged in!
        </mat-card-title>
        <mat-card-actions style="display: flex; justify-content: space-evenly;">
            <button mat-flat-button color="primary" (click)="router.navigate(['/'])">Home</button>
            <button mat-flat-button color="primary" (click)="logOut()">Logout</button>
        </mat-card-actions>
    </div>
</mat-card>
