<div id="center"
     style="border: solid 1px #c8c8c8; border-radius: 3px; padding: 0.5em; width: 344px; margin: 10px auto 0px auto; background: white;">
    <auth-login [intendedRoute]="intendedRoute" *ngIf="!verifying && !verified"></auth-login>
    <div *ngIf="!verifying && verified" style="display: grid; text-align: center;">
        <h3 style="margin: 5px;">You are already logged in!</h3>
        <button mat-flat-button color="primary" (click)="router.navigate(['/'])">Home</button>
        <button mat-flat-button color="primary" (click)="logOut()">Logout</button>
    </div>
    <div style="display: flex; justify-content: center;" *ngIf="verifying">
        <mat-spinner></mat-spinner>
    </div>
</div>
