.wrapper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: solid 1px #c8c8c8;
    border-radius: 3px;
    padding: 40px;
    width: 350px;
    /*margin: 10px auto 0 auto;*/
}

button {
    margin: 10px;
}