<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true" fullscreen>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
        <mat-toolbar>
            <mat-toolbar-row>
                <button type="button"
                        color="primary"
                        mat-flat-button
                        (click)="logOut()"
                        *ngIf="isVerified">

                    Logout
                </button>
                <button type="button"
                        color="primary"
                        mat-flat-button
                        (click)="router.navigate(['/auth', 'login']); drawer.toggle();"
                        *ngIf="!isVerified">
                    Login
                </button>
                <span class="fill-space"></span>
                <button type="button"
                        color="primary"
                        mat-icon-button
                        (click)="router.navigate(['/user', 'details']); drawer.toggle();"
                        *ngIf="isVerified">
                    <mat-icon aria-label="User Details">person</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <mat-accordion displayMode="flat">
                <mat-expansion-panel *ngFor="let menu of menus" [(expanded)]="expansionStatus[menu.routeName]">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-weight: bold">{{menu.menuTitle}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let menuItem of menu.menuEntries"
                           (click)="menuItem.command(); drawer.toggle()">{{menuItem.label}}</a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="main-outlet">
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="fill-space"></span>
            <button mat-icon-button (click)="router.navigate(['/'])">
                <mat-icon aria-label="Home">home</mat-icon>
            </button>
        </mat-toolbar>
        <div style="margin: 20px auto 0 auto; display: flex; align-items: center; flex-direction: column; width: 100%;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
